{% extends 'base.html' %}

{% block content %}
<div align="center">
    <h1>Book a Ride</h1>
</div>
<html>
<head>
{{map|safe}}
</head>
<body>

</body>


</html>

<form id=centerRide method="POST">
    <div id="container">
        <div id="ridePart1">
            <label for="pickUp">Pick up:</label><br>
            <select name="pickUp" id="pickUp" required>
                <option value="0">BLK 258A Punggol Field</option>
                <option value="1">BLK 266A Punggol Central</option>
                <option value="2">BLK 268D Punggol Walk</option>
                <option value="3">BLK 73 Punggol Central</option>
                <option value="4">BLK 298A Punggol Place</option>
                <option value="5">BLK 302A Punggol Place</option>
                <option value="6">BLK 306C Punggol Place</option>
                <option value="7">BLK 202A Punggol Field</option>
                <option value="8">BLK 298 Punggol Central</option>
                <option value="9">BLK 305D Punggol Road</option>
                <option value="10">BLK 101C Punggol Road</option>
                <option value="11">BLK 45 Punggol Central</option>
                <option value="12">BLK 615C Edgefield Plains</option>
                <option value="13">BLK 110D Edgefield Plains</option>
                <option value="14">BLK 52 Edgefield Plains</option>
                <option value="15">BLK 635C Punggol Drive</option>
                <option value="16">BLK 11 Punggol Field</option>
                <option value="17">BLK 160B Punggol Central</option>
                <option value="18">BLK 653A Punggol Drive</option>
                \ </select><br>

            <label for="dropOff">Drop Off:</label><br>
            <select name="dropOff" id="dropOff" required>
                <option value="0">BLK 258A Punggol Field</option>
                <option value="1">BLK 266A Punggol Central</option>
                <option value="2">BLK 268D Punggol Walk</option>
                <option value="3">BLK 73 Punggol Central</option>
                <option value="4">BLK 298A Punggol Place</option>
                <option value="5">BLK 302A Punggol Place</option>
                <option value="6">BLK 306C Punggol Place</option>
                <option value="7">BLK 202A Punggol Field</option>
                <option value="8">BLK 298 Punggol Central</option>
                <option value="9">BLK 305D Punggol Road</option>
                <option value="10">BLK 101C Punggol Road</option>
                <option value="11">BLK 45 Punggol Central</option>
                <option value="12">BLK 615C Edgefield Plains</option>
                <option value="13">BLK 110D Edgefield Plains</option>
                <option value="14">BLK 52 Edgefield Plains</option>
                <option value="15">BLK 635C Punggol Drive</option>
                <option value="16">BLK 11 Punggol Field</option>
                <option value="17">BLK 160B Punggol Central</option>
                <option value="18">BLK 653A Punggol Drive</option>
            </select><br>

            <label for="date">Date:</label>
            <input type="date" class="form-control" format='%Y-%m-%d' name="date" id="date" required>
            <label for="time">Time:</label>
            <input type="time" class="form-control" format='%H-%M' name="time" id="time" required>
        </div>

        <div id="ridePart2">
            <label for="carType">Car type:</label><br>
            <select name="carType" id="carType">
                <option value="Volvo">Volvo</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Toyota">Toyota</option>
                <option value="Chevrolet">Chevrolet</option>
            </select><br>

            <label for="pax">Pax:</label><br>
            <select name="pax" id="pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="paym">Payment:</label><br>
            <select name="paym" id="paym">
                <option value="Cash">Cash</option>
                <option value="PayNow">PayNow</option>
                <option value="PayLah">PayLah</option>
                <option value="Credit card">CreditCard</option>
            </select><br>

            <label for="searchRange">Search Range:</label><br>
            <select name="searchRange" id="searchRange">
                <option value="noPref">No Preference</option>
                <option value="0.5">500M</option>
                <option value="1">1KM</option>
                <option value="1.5">1.5KM</option>
                <option value="2">2KM</option>
                <option value="2.5">2.5KM</option>
                <option value="3">3KM</option>
            </select>
        </div>
    </div>
    <div id="btnSect" align="center">
        <button type="submit" id="rideButton" class="btn btn-outline-info">Next</button>
    </div>
</form>
{% endblock %}