{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <h1>Book a Ride</h1>
    </div>

    <form id=centerRegister method="POST">
        <br/><label >First Pick up:</label>
                <input type="text" class="form-control" name="pickUp" required>
        <label >First Drop Off:</label>
                <input type="text" class="form-control"  name="dropOff" required><br/>
        <label >Second Pick up:</label>
                <input type="text" class="form-control" name="secondPickup" required>
        <label >Second Drop Off:</label>
                <input type="text" class="form-control"  name="secondDropoff" required><br/>
        <label >Date:</label>
                <input type="date" class="form-control"  format='%Y-%m-%d' name="date" required><br/>
        <label >Time:</label>
                <input type="time" class="form-control"  format='%H-%M' name="time" required><br/>
        <label for="pax" >C:</label>
                <select name="pax" id="pax">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option></select><br/>



                 <!--<label >Email:</label>
            <input  class="form-control"  name="email" required><br/><br/>
-->

        <button type="submit" class="btn btn-outline-info">Next</button>
    </form>


{% endblock %}