{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <h1>Confirm your booking</h1>
    </div>

        <html>
          <head>
            <title>Confirm Ride</title>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
          </head>
          <body>
          <h3>Ride Info</h3>
          <p>Ride is from: {{startLocation}} </p>
          <p>Ride is to: {{endLocation}} </p>
          <p>Distance is: {{rideDistance}} </p>
            <div id='mapdiv' style='height:800px;'></div>

          </body>


        <script>
          var center = L.bounds([1.56073, 104.11475], [1.16, 103.502]).getCenter();
          var map = L.map('mapdiv').setView([center.x, center.y], 12);

          var basemap = L.tileLayer('https://maps-{s}.onemap.sg/v3/Default/{z}/{x}/{y}.png', {
            detectRetina: true,
            maxZoom: 18,
            minZoom: 11
          });

          map.setMaxBounds([[1.56073, 104.1147], [1.16, 103.502]]);
          // add coordinates here


          // var latlngs = Array();
          // var arr_len = {{path | safe}}.length;
          // {{path | safe}}.forEach(show_marker)

          var latlngs = path
          // var latlngs = [
          //     [1.380853, 103.844318],
          //     [1.380338, 103.845949],
          //     [1.379094, 103.846978],
          //     [1.377077, 103.847665],
          //     [1.374675, 103.847880],
          //     [1.372573, 103.848180],
          //     [1.371586, 103.848405],
          //     [1.370514, 103.848942],
          //     [1.369570, 103.849435]]

          // create a blue polyline from an arrays of LatLng points
          var polyline = L.polyline(latlngs, {color: '#1586D8'}).addTo(map);

          // drop pin at start location
          var redPin = L.icon({
              iconUrl: '../static/Images/redpin.png',
              iconSize:     [35, 50], // size of the icon
              iconAnchor:   [18, 50], // point of the icon which will correspond to marker's location
          });

          // drop pin at end location
          var bluePin = L.icon({
              iconUrl: '../static/Images/bluepin.png',
              iconSize:     [35, 50], // size of the icon
              iconAnchor:   [18, 50], // point of the icon which will correspond to marker's location
          });

          // start marker
          L.marker([1.380853, 103.844318], {icon: redPin}).addTo(map);
          // end marker
          L.marker([1.369570, 103.849435], {icon: bluePin}).addTo(map);

          // zoom map to the polyline
          map.fitBounds(polyline.getBounds());

          basemap.addTo(map);

          function getLocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
            }
          }

          function showPosition(position) {
            marker = new L.Marker([position.coords.latitude, position.coords.longitude], {bounceOnAdd: false}).addTo(map);
            var popup = L.popup()
            .setLatLng([position.coords.latitude, position.coords.longitude])
            .setContent('You are here!')
            .openOn(map);
          }

        </script>
        </html>



{% endblock %}