{% extends 'base.html' %}

{% block content %}
<!--After driver starts shift, show current location-->
    <div align="center">
        <h1></h1>
    </div>
    <form id=centerRide method="POST">
        <h2>Hi {{ driverUsername }}, you are online!</h2>
        <br>
        <p>Your location is {{startLocation}}</p>
        {{map|safe}}
        <button type="submit" id="driverLocationBtn" class="btn btn-outline-info" name="submit_button" value="endShift">End Shift</button>
        <button type="submit" id="driverBacktoHome" class="btn btn-outline-info" name="submit_button" value="home">Home</button>
    </form>


{% endblock %}