{% extends 'base.html' %}

{% block content %}

{% if username %}
    <h1>Hello {{ username }}!</h1>
{% else %}
    <div align="center">
        <h1>Driver Login</h1>
    </div>
    <br/>
    <div align="center">
        <img src="../static/Images/pngegg.png" width="280" height="200">
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mb-3" role="alert" id="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form id="centerDriver" method="POST">
          <br/>
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username"><br/>
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password"><br/>

        <button type="submit" id="driverLogin" class="btn btn-outline-info" name="submit_button" value="login">Login</button>
        <button type="submit" id="driverBack" class="btn btn-outline-info" name="submit_button" value="back">Back</button>
    </form>
{% endif %}

{% endblock %}