{% extends 'base.html' %}

{% block content %}
<!--Customer homepage-->
    <div id="welcome" align="center">
        <h1>Welcome, {{ username }}!</h1>
    </div>
    <div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <div class="pull-left">
            <a href="/bookride" id="bookride" class="btn btn-outline-info">Book Ride</a>
        </div>
        <div class="">
            <a href="/" id="logout" class="btn btn-outline-info">Log Out</a>
        </div>
    </div>
    </div>

{% endblock %}