{% extends 'base.html' %}

{% block content %}

    <div align="center">
        <h1>Register an Account</h1>
    </div>
    <br/>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mb-3" role="alert" id="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <script type="text/javascript" src="./static/script.js"></script>
    <form id="centerRegister" method="POST">
        <br/>
        <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required><br/>
        <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required><br/>
        <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required><br/><br/>


        <button type="submit" class="btn btn-outline-info" id="registerButton">Register</button>
    </form>


{% endblock %}