{% extends 'base.html' %}

{% block content %}
    <div id="settingstitle" align="center">
        <h1>Settings</h1>
    </div>
    <div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <div class="pull-left">
            <div id="editprofile" class="btn btn-outline-info">Edit Profile</div>
        </div>
        <div class="">
            <div id="savedlocations" class="btn btn-outline-info">Saved Locations</div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="pull-left">
            <div id="sendfeedback" class="btn btn-outline-info">Send Feedback</div>
        </div>
        <div class="">
            <div id="helpcentre" class="btn btn-outline-info">Help Centre</div>
        </div>
    </div>
    </div>

{% endblock %}