.form-control{
    max-width: 100%;
    width: 250px;
}

.form{
    display: inline-block;
    text-align: center;
}

#centerLogin{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centerRegister{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centerRide{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#centerSharedRide {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#emailError{
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    width: 400px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-left: 355px;
}

#alert{
    width: 400px;
    text-align: center;
    margin-left: 355px;
}

#welcome, #settingstitle{
    margin-top: 20px;
}

.col-sm-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}

#bookride, #editprofile{
    width: 220px;
    height: 120px;
    margin-right: 10px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}

#booksharedride, #savedlocations{
    width: 220px;
    height: 120px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}

#myrides, #sendfeedback{
    width: 220px;
    height: 120px;
    margin-right: 10px;
    margin-top: -90px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}

#settings, #helpcentre{
    width: 220px;
    height: 120px;
    padding-top: 40px;
    margin-top: -90px;
    text-align: center;
    font-size: 1.5em;
}

