.form-control{
    max-width: 100%;
    width: 250px;
}

.form{
    display: inline-block;
    text-align: center;
}

#centerLogin, #centerDriver{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btnSect{
    margin-bottom: 5%;
}

#centerRide{
    margin-top: 2%;
}

#centerDriverHome{
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, 50%);
}

#centerSharedRide {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#emailError{
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    width: 400px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-left: 355px;
}

#alert{
    width: 400px;
    text-align: center;
    margin-left: 355px;
}

#welcome, #settingstitle{
    margin-top: 20px;
}

.col-sm-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}

#bookride, #editprofile{
    width: 220px;
    height: 120px;
    margin-right: 10px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}

#rideButton{
    width: 8%;
}

#container{
    margin: 0 auto;
    width: 45%;
    height: 300px;
    overflow: visible;
}

#container select{
    width: 200px;
    height: 40px;
    color: grey;
}

#booksharedride, #savedlocations{
    width: 220px;
    height: 120px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}

#myrides, #sendfeedback{
    width: 220px;
    height: 120px;
    margin-right: 10px;
    margin-top: -90px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}

#settings, #helpcentre{
    width: 220px;
    height: 120px;
    padding-top: 40px;
    margin-top: -90px;
    text-align: center;
    font-size: 1.5em;
}

#pickUp, #dropOff, #carType, #pax, #paym, #searchRange, #startLoc{
    border-color: lightgrey;
    padding: 2%;
    border-radius: 5px;
}

#mapdiv{
    margin-top: 40px;
}

#ridePart1{
    float:left;
}

#ridePart2{
    float: right;
}

#driverButton{
    margin-top: 7%;
    margin-left: 40%;
    margin-bottom: 5%;
}

#driverLogout{
    position: absolute;
    top: 5.5%;
    right: 10%;
    transform: translate(-70%, -10%);
}


